[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-java"]
	path = tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "tinydir"]
	path = tinydir
	url = https://github.com/cxong/tinydir
[submodule "samples/qtodo-spring-backend"]
	path = samples/qtodo-spring-backend
	url = https://github.com/manishelf/qtodo-spring-backend
