[submodule "tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-java"]
	path = deps/tree-sitter-parsers/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir
[submodule "samples/qtodo-spring-backend"]
	path = samples/qtodo-spring-backend
	url = https://github.com/manishelf/qtodo-spring-backend
[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2
